<p>Поиск билета</p>
<%= form_for search_path, class: "search_form", method: :post do %>
<p>
  <strong>Начальная станция</strong>
 <%= select_tag :start_station_id, options_from_collection_for_select(RailwayStation.all, :id, :title, params[:start_station_id]) %>
</p>
<p>
  <strong>Конечная станция</strong>
 <%= select_tag :start_station_id, options_from_collection_for_select(RailwayStation.all, :id, :title, params[:start_station_id]) %>
</p>
<% end %>

