 <tr>
        <td><%= rout.title %></td>
        <td><%= link_to 'Показать', rout %></td>
        <td><%= link_to 'Редактировать', edit_rout_path(rout) %></td>
        <td><%= link_to 'Удалить', rout, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>